img#fb_button{
	display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 50px;
}
body#login_page_body{
	background-color: white;
}
img#fb_prof_pic{
	display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 50px;
}
h1,p.fb_details{
	text-align: center;
}